MONGO_URL="mongodb://localhost:27017"
DB_NAME="test_database"
CORS_ORIGINS="*"
EMERGENT_LLM_KEY=your_emergent_llm_key_here
STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key_here
STRIPE_ACCOUNT_ID=your_stripe_account_id_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here
STRIPE_MODE=test
